<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SCRPageLayoutAvoidsWidowsAndOrphansKey</key>
	<false/>
	<key>SCRPageLayoutBottomMarginKey</key>
	<real>0.5</real>
	<key>SCRPageLayoutIndexCardsEmboldenTitlesKey</key>
	<true/>
	<key>SCRPageLayoutIndexCardsFontKey</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwVFlUkbnVsbNQNDg8QERIT
	FFZOU1NpemVYTlNmRmxhZ3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA1lIZWx2
	ZXRpY2HSFxgZGlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9udKIZG1hOU09iamVjdAgR
	GiQpMjdJTFFTWF5nbnd+hY6QkpSeo663vsEAAAAAAAABAQAAAAAAAAAcAAAAAAAAAAAA
	AAAAAAAAyg==
	</data>
	<key>SCRPageLayoutIndexCardsForceLandscapeKey</key>
	<false/>
	<key>SCRPageLayoutIndexCardsIgnoreTitlesOnlyKey</key>
	<false/>
	<key>SCRPageLayoutIndexCardsOverrideFontKey</key>
	<false/>
	<key>SCRPageLayoutIndexCardsPrintCardNumbersKey</key>
	<false/>
	<key>SCRPageLayoutIndexCardsPrintCuttingGuideKey</key>
	<true/>
	<key>SCRPageLayoutIndexCardsPrintKeywordsKey</key>
	<false/>
	<key>SCRPageLayoutIndexCardsPrintLabelKey</key>
	<true/>
	<key>SCRPageLayoutIndexCardsPrintTitlesKey</key>
	<true/>
	<key>SCRPageLayoutInsertCommentsKey</key>
	<true/>
	<key>SCRPageLayoutLeftMarginKey</key>
	<real>0.5</real>
	<key>SCRPageLayoutMarginUnitsKey</key>
	<integer>1</integer>
	<key>SCRPageLayoutOutlineFontKey</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwVFlUkbnVsbNQNDg8QERIT
	FFZOU1NpemVYTlNmRmxhZ3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA1lIZWx2
	ZXRpY2HSFxgZGlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRm9udKIZG1hOU09iamVjdAgR
	GiQpMjdJTFFTWF5nbnd+hY6QkpSeo663vsEAAAAAAAABAQAAAAAAAAAcAAAAAAAAAAAA
	AAAAAAAAyg==
	</data>
	<key>SCRPageLayoutOutlineIndentLevelsKey</key>
	<true/>
	<key>SCRPageLayoutOutlinePrefixTitlesWithNumberKey</key>
	<false/>
	<key>SCRPageLayoutOutlinePrintCharacterCountKey</key>
	<false/>
	<key>SCRPageLayoutOutlinePrintCustomMetaDataKey</key>
	<false/>
	<key>SCRPageLayoutOutlinePrintKeywordsKey</key>
	<false/>
	<key>SCRPageLayoutOutlinePrintLabelAndStatusKey</key>
	<false/>
	<key>SCRPageLayoutOutlinePrintSynopsesKey</key>
	<true/>
	<key>SCRPageLayoutOutlinePrintTargetsKey</key>
	<false/>
	<key>SCRPageLayoutOutlinePrintTitlesKey</key>
	<true/>
	<key>SCRPageLayoutOutlinePrintWordCountKey</key>
	<false/>
	<key>SCRPageLayoutOutlinerPrintFilenameKey</key>
	<false/>
	<key>SCRPageLayoutOverrideFontKey</key>
	<false/>
	<key>SCRPageLayoutPrintFilenameAndDateKey</key>
	<true/>
	<key>SCRPageLayoutPrintMetaDataKey</key>
	<false/>
	<key>SCRPageLayoutPrintNotesKey</key>
	<false/>
	<key>SCRPageLayoutPrintPageNumbersKey</key>
	<true/>
	<key>SCRPageLayoutPrintSynopsisKey</key>
	<false/>
	<key>SCRPageLayoutPrintTextKey</key>
	<true/>
	<key>SCRPageLayoutPrintTitleKey</key>
	<false/>
	<key>SCRPageLayoutPrintWebBackgroundsKey</key>
	<false/>
	<key>SCRPageLayoutPrintingFontKey</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwVFlUkbnVsbNQNDg8QERIT
	FFZOU1NpemVYTlNmRmxhZ3NWTlNOYW1lViRjbGFzcyNAKAAAAAAAABAQgAKAA18QF0Fj
	YWRlbXlFbmdyYXZlZExldFBsYWlu0hcYGRpaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZOU0Zv
	bnSiGRtYTlNPYmplY3QIERokKTI3SUxRU1heZ253foWOkJKUrrO+x87RAAAAAAAAAQEA
	AAAAAAAAHAAAAAAAAAAAAAAAAAAAANo=
	</data>
	<key>SCRPageLayoutRemoveAnnotationsKey</key>
	<false/>
	<key>SCRPageLayoutRightMarginKey</key>
	<real>0.5</real>
	<key>SCRPageLayoutScaleImagesToFitKey</key>
	<false/>
	<key>SCRPageLayoutTopMarginKey</key>
	<real>0.5</real>
</dict>
</plist>
